%table{ :cellspacing => "6", :border => "0", :align => "center", :cellpadding => "0", :width => "99%" }
  %tbody
    %tr
      %td
        %h1
          = I18n.t('user.label.password_reset')
    %tr
      %td
        = form_tag(:action => 'reset_password') do
          %input{ :name => "reset_code", :type => "hidden", :value => @reset_code }
          %table.textbox{ :cellspacing => "2", :align => "center", :width => "100%", :cellpadding => "5" }
            %tbody
              %tr
                %td{ :align => "right", :width => "24%" }
                  = I18n.t('user.label.email_address')
                %td
                  = text_field :user, :email, :value => @user.email, :readonly => "readonly", :class => "textfield"
              %tr
                %td{ :align => "right", :width => "24%" }
                  = I18n.t('user.label.password')
                %td
                  = password_field :user, :password, :value => "",:class => "textfield"
                  = validation_errors(@user.errors["password"])
              %tr
                %td{ :align => "right", :width => "30%" }
                  = I18n.t('user.label.confirm_password*')
                %td
                  = password_field :user, :password_confirmation, :value => "", :class => "textfield"
                  = validation_errors(@user.errors["password_confirmation"])
              %tr
                %td{ :align => "center", :colspan => "2" }
                  = submit_tag "#{I18n.t('links.submit.reset')}"
              %td.line2
                \&nbsp;
