%h2{ :class=>"sub", :style => "color:#258216;"}
   = I18n.t('general_home.privacy_policy')
%hr{:class => "brown"}
%p
   = I18n.t('general_home.privacy_policy_description1')
%p
   = I18n.t('general_home.privacy_policy_description2')
%ul
   %li
      = I18n.t('general_home.privacy_policy_description3')
   %li
      = I18n.t('general_home.privacy_policy_description4')

%h2{ :class=>"sub", :style => "color:#258216;font-size:15px;"}
   = I18n.t('general_home.notice')
%p
   = I18n.t('general_home.notice_description1')

%ul
   %li
      = I18n.t('general_home.notice_description2')
   %li
      = I18n.t('general_home.notice_description3')
   %li
      = I18n.t('general_home.notice_description4')
   %li
      = I18n.t('general_home.notice_description5')

%h2{ :class=>"sub", :style => "color:#258216;font-size:15px;"}
   = I18n.t('general_home.consent')
%p
   = I18n.t('general_home.consent_description1')

%p
   = I18n.t('general_home.consent_description2')
%p
   = I18n.t('general_home.consent_description3')

%h2{ :class=>"sub", :style => "color:#258216;font-size:15px;"}
   = I18n.t('general_home.access')
%p
   = I18n.t('general_home.access_description1')
%ul
   %li
      = I18n.t('general_home.access_description2')
   %li
      = I18n.t('general_home.access_description3')
   %li
      = I18n.t('general_home.access_description4')
   %li
      = I18n.t('general_home.access_description5')

%h2{ :class=>"sub", :style => "color:#258216;font-size:15px;"}
   = I18n.t('general_home.security')
%p
   = I18n.t('general_home.security_description1')
%p
   = I18n.t('general_home.security_description2')
%p
   = I18n.t('general_home.security_description3')
%p
   = I18n.t('general_home.security_description4')
%p
   = I18n.t('general_home.security_description5')
%p
   = I18n.t('general_home.security_description6')

%h2{ :class=>"sub", :style => "color:#258216;font-size:15px;"}
   = I18n.t('general_home.notice_to_parents')
%p
   = I18n.t('general_home.notice_to_parents_description1')
%p
   = I18n.t('general_home.notice_to_parents_description2')

%h2{ :class=>"sub", :style => "color:#258216;font-size:15px;"}
   = I18n.t('general_home.enforcement')
%p
   = I18n.t('general_home.enforcement_description')

%p
   = I18n.t('general_home.information_share')
%p
   = I18n.t('general_home.information_share_description1')
%p
   = I18n.t('general_home.information_share_description2')
%p
   = I18n.t('general_home.information_share_description3')

%hr{:class => "brown"}