%h2{ :class=>"sub", :style => "color:#258216;"}
  = I18n.t('general_home.terms_of_service')
%hr{:class => "brown"}
%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.acceptance_of_terms')
%p
  = I18n.t('general_home.acceptance_of_terms_description1')
%ul
  %li
    = I18n.t('general_home.acceptance_of_terms_description2')
  %li
    = I18n.t('general_home.acceptance_of_terms_description3')

%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.changed_terms')
%p
  = I18n.t('general_home.changed_terms_description')

%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.description_of_services')
%p
  = I18n.t('general_home.description_of_services_description')

%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.equipment')
%p
  = I18n.t('general_home.equipment_description')

%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.the_user_conduct')
%ul
  %li
    = I18n.t('general_home.the_user_conduct_description1')
  %li
    = I18n.t('general_home.the_user_conduct_description2')
  %li
    = I18n.t('general_home.the_user_conduct_description3')
  %li
    = I18n.t('general_home.the_user_conduct_description4')
  %li
    = I18n.t('general_home.the_user_conduct_description5')


%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.use_of_services')

%p
  = I18n.t('general_home.use_of_services_description1')
%ul
  %li
    = I18n.t('general_home.use_of_services_description2')
  %li
    = I18n.t('general_home.use_of_services_description3')
  %li
    =  I18n.t('general_home.use_of_services_description4')
  %li
    = I18n.t('general_home.use_of_services_description5')
  %li
    = I18n.t('general_home.use_of_services_description6')
  %li
    = I18n.t('general_home.use_of_services_description7')
  %li
    = I18n.t('general_home.use_of_services_description8')
  %li
    = I18n.t('general_home.use_of_services_description9')
  %li
    = I18n.t('general_home.use_of_services_description10')
  %li
    = I18n.t('general_home.use_of_services_description11')
  %li
    = I18n.t('general_home.use_of_services_description12')
  %li
    = I18n.t('general_home.use_of_services_description13')
  %li
    = I18n.t('general_home.use_of_services_description14')
  %li
  %li
    = I18n.t('general_home.use_of_services_description15')
  %li
    = I18n.t('general_home.use_of_services_description16')

%p
  = I18n.t('general_home.use_of_services_description17')
%p
  =  I18n.t('general_home.use_of_services_description18')
%p
  = I18n.t('general_home.use_of_services_description19')


%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.member_account_password_security')
%p
  = I18n.t('general_home.member_account_password_and_security')

%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.notice_specific_to_software_available_on_this_site')
%p
  = I18n.t('general_home.notice_software_description1')
%p
  = I18n.t('general_home.notice_software_description2')
%p
  = I18n.t('general_home.notice_software_description3')
%p
  = I18n.t('general_home.notice_software_description4')

%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.notice_specific_to_documents_available_on_this_site')
%p
  = I18n.t('general_home.notice_specific_to_documents_description1')
%p
  = I18n.t('general_home.notice_specific_to_documents_description2')
%p
  = I18n.t('general_home.notice_specific_to_documents_description3')

%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.notices_software_documents_services')
%p
  = I18n.t('general_home.notices_software_documents_services_description')

%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.materials_provided_to_myroya')
%p
  = I18n.t('general_home.materials_provided_to_myroya_description1')

%p
  = I18n.t('general_home.materials_provided_to_myroya_description2')

%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.disclaimer_of_warranty_and_liability')
%ul
  %li
    = I18n.t('general_home.disclaimer_of_warranty_and_liability_description1')
  %li
    mydateishere.com
    = I18n.t('general_home.disclaimer_of_warranty_and_liability_description2')
  %li
    = I18n.t('general_home.disclaimer_of_warranty_and_liability_description3')
  %li
    = I18n.t('general_home.disclaimer_of_warranty_and_liability_description4')
  %li
    = I18n.t('general_home.disclaimer_of_warranty_and_liability_description5')
  %li
    = I18n.t('general_home.disclaimer_of_warranty_and_liability_description6')
  %li


%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.link_to_third_party_sites')
%p
  = I18n.t('general_home.link_to_third_party_site_description1')
%p
  = I18n.t('general_home.link_to_third_party_site_description2')
%p
  = I18n.t('general_home.link_to_third_party_site_description3')

%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.unsolicited_idea_submission_policy')

%p
  = I18n.t('general_home.unsolicited_idea_submission_policy_description')

%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.monitoring')
%p
  = I18n.t('general_home.monitoring_description')
%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.indemnification')
%p
  = I18n.t('general_home.indemnification_description')
%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.termination')
%p
  = I18n.t('general_home.termination_description')
%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.miscellaneous')
%p
  = I18n.t('general_home.miscellaneous_description')

%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.copyright_notice')
%p
  = I18n.t('general_home.copyright_notice_description')

%h2{ :class=>"sub", :style => "color:#258216;font-size:14px;"}
  = I18n.t('general_home.trade_marks')
%p
  = I18n.t('general_home.trade_marks_description1')
%p
  = I18n.t('general_home.trade_marks_description2')


















%hr{:class => "brown"}














