<%#= javascript_include_tag  'jquery-1.7.2.min.js', 'jquery.main.js' %>
<!-- content box -->
<div class="content-box open-box active search-results">
  <header class="heading">
    <h2>Results</h2>
    <% if !@users.empty? and !request.xhr? %>
      <% if current_user and !SavedSearch.exists?(:user_id => current_user.id, :url => request.fullpath) %>
        <div style="float:left;">
          <%= button_to_function I18n.t('search.results.save_this_search'), "save_search()", :class=>"save_search_btn", :style => "width: 123px;margin:0;", :id => 'save_search_bt' %>
        </div>
      <% end %>
    <% end %>
    <a href="#" class="opener">open/close</a>
  </header>
  <div class="slide">
    <div class="holder">
      <% if !@users.empty? %>
        <% for user in @users  %>
          <div class="chat-item">
            <div class="chat-item-frame">
              <div class="visual">
                <% if !user.facebook_id.present? %>
                  <%= link_to image_tag(user.profile ? user.profile.avatar.url(:default)  : "/assets/default_avatar.jpg", :width => 96, :height => 104), user_path(user), :title => "#{user.display_name}(#{user.gender})", "data-user_id_#{user.id}" => user.id, :id => (!EmailSetting.exists?(:user_id => current_user.id, :alert_type => 'popups', :status => false) and current_user.is_valid_account? ? "user_profile_#{user.id}" : "" )  %>
                <% else %>
                  <%= link_to image_tag(user.profile ? (user.profile.avatar_file_name != "picture_type_large.jpg" ?  user.profile.avatar.url(:default) : user.fb_big_image) : user.fb_big_image, :width => 96, :height => 104), user_path(user), :title => "#{user.display_name}(#{user.gender})" , "data-user_id_#{user.id}" => user.id, :id => (!EmailSetting.exists?(:user_id => current_user.id, :alert_type => 'popups', :status => false) and current_user.is_valid_account? ? "user_profile_#{user.id}" : "" ) %>
                <% end %>
                <%= user_online_status_image(user) %>
                <% if user.available_today == true %>
                  <span class='free'>free</span>
                <% else %>
                <% end %>
              </div>
              <div class="text-block">
                <ul class="message-info">
                  <li><%= user.display_name %></li>
                  <li><%= user.created_at.strftime("%d/%m/%y") %></li>
                  <li><%= user.created_at.strftime("%H:%M") %></li>
                </ul>
                <p>
                  <%= user.age %>
                  <%= I18n.t('search.label.year_old') %>
                  <%= user.humanized_gender %>
                  <br />
                  <% if !user.orientation.to_s.blank? %>
                    <%= I18n.t('search.label.orientation') %>
                    <%= user.orientation %>
                  <% end %>
                  <% if !user.profile_address.to_s.blank? %>
                    <%= I18n.t('friend.index.location', :location => user.profile_address.to_s) %>
                  <% end %>
                </p>
              </div>
            </div>
            <div class="m-nav-holder">
              <%= render :partial => "layouts/all_links", :locals => {:user => user} %>
            </div>
          </div>
          <script type="text/javascript">
            jQuery(function() {
              jQuery("#user_profile_<%= user.id %>").bind("mousestop", function(event){
                if(event.type == "mousestop"){
                  var account_id = jQuery(this).data("user_id_<%= user.id %>");
                  jQuery.ajax({
                    url: "/users/"+account_id,
                    type: 'get',
                    success: function(resp){
                      jQuery.fancybox({
                        padding: 15,
                        cyclic: false,
                        overlayShow: true,
                        transitionIn:'elastic',
                        transitionOut:'elastic',
                        speedIn:600,
                        speedOut:600,
                        overlayOpacity:0,
                        titlePosition: 'inside',
                        content : resp
                      });
                    }
                  });
                }else{
                }
              });
            });
          </script>
        <% end %>
  <%#*<a href="#" class="btn-more">more</a>%>
      <% else %>
        <div align="center" style="color:red;">
          <%= I18n.t('search.label.no_result_found') %>
        </div>
      <% end %>
      <% if current_user and @users and !@users.empty? and !SavedSearch.exists?(:user_id => current_user.id, :url => request.fullpath) %>
        <div id="save_search_form"  style="display:none;">
          <% @saved_search = SavedSearch.new %>
          <%= render :partial => "new" %>
        </div>
      <% end %>
    </div>
  </div>
</div>