<footer id="footer">
  <div class="footer-holder">
    <div class="footer-frame">
      <div class="footer-container">
        <!-- column 1 -->
        <div class="col-1">
          <h3>A better way of dating.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta malesuada eros, eu molestie tortor varius id. Morbi dolor metus, faucibus eget bibendum vel, vestibulum vitae quam. In tempor mauris in orci ornare nec dictum sapien dapibus. Etiam fermentum ornare quam id aliquet. Praesent accumsan mollis tincidunt. Sed imperdiet sapien et lectus tincidunt et ultrices libero dignissim.</p>
          <span class="copy">&copy; 2000-2012&nbsp;&nbsp;&nbsp;MYDATEISHERE&nbsp;&nbsp;&nbsp;<a href="/tos">Terms and Conditions of Service</a></span>
        </div>
        <!-- column 2 -->
        <div class="col-2">
          <h3>keep in touch:</h3>
          <ul class="social">
            <li><a href="http://twitter.com/mydateishere" target="_blank" class="twitter">Follow on Twitter</a></li>
            <li><a href="http://www.facebook.com/mydateishere" target="_blank" class="facebook">Follow on facebook</a></li>
            <li><a href="#" class="google">Follow on Google Plus</a></li>
            <li><a href="http://blog.mydateishere.com/" target="_blank" class="blog">Our Blog</a></li>
          </ul>
        </div>
        <!-- column 3 -->
        <div class="col-3">
          <h3>Got questions?</h3>
          <ul class="list">
            <li><%= link_to "About MDIH", "" %></li>
            <li><%= link_to "Help / FAQs", "" %></li>
            <li><%= link_to "Sitemap", "" %></li>
            <li><%= link_to "Mobile", "" %></li>
            <li><%= link_to "Privacy Policy", "/privacy" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>